/* font-family: "Playfair Display", Georgia, serif;
    font-family: "Quicksand", Arial, sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sidebar Section   */

aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 350px;
  float: left;
  background-color: #f2f3f7c2;
  overflow-y: scroll;
  padding-bottom: 40px;
  padding-top: 3em;
  text-align: center;
  z-index: 1000;
}

.nav-img {
  border-radius: 3000px;
  object-fit: cover;
  width: 150px;
  height: 150px;
  transition: all 0.3s ease-in-out;
}

.nav-img:hover {
  cursor: pointer;
  box-shadow: 0 0 7px #555;
  transform: scale(1);
}

.nav-img-name {
  text-align: right;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 0.5em;
  display: block;
  width: 100%;
}
.nav-img-name a {
  display: block;
  text-align: center;
  color: #000;
  padding-right: 0.3em;
  text-decoration: none;
  padding-top: 15px;
  font-family: "Playfair Display", Georgia, serif;
  font-size: 22px;
}

.nav-img-links {
  margin-bottom: 2em;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
}

.nav-img-links a {
  text-decoration: none;
}

.navbar-nav li a {
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: relative;
}

.nav-link {
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: #1da1f2 !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #2c98f0;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-footer {
  padding-top: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#heart-icon:hover i {
  color: red !important;
  cursor: pointer;
}

.nav-footer p {
  padding-bottom: 10px;
}

.nav-footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.nav-footer-icon li a {
  margin: 0 0.1em;
  font-size: 1.5em;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.nav-footer-icon i {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#facebook {
  color: #fff;
  border: 2px solid #2152bd;
  background-color: #2152bd;
}

#facebook:hover {
  color: #2152bd;
  border: 2px solid #2152bd;
  background-color: transparent;
}

#twitter {
  color: #fff;
  background-color: #1da1f2;
  border: 2px solid #1da1f2;
}

#twitter:hover {
  color: #1da1f2;
  background-color: transparent;
  border: 2px solid #1da1f2;
}

#instagram {
  color: #fff;
  background-color: #c13584;
  border: 2px solid #c13584;
}

#instagram:hover {
  color: #c13584;
  background-color: transparent;
  border: 2px solid #c13584;
}

#linkedin {
  color: #fff;
  background-color: #0e76a8;
  border: 2px solid #0e76a8;
}

#linkedin:hover {
  color: #0e76a8;
  background-color: transparent;
  border: 2px solid #0e76a8;
}

/* x ----------------------------------- x ----------------------------------- x ----------------------------------- x ----------------------------------- x  */

/* Section 01 */

/* Portfolio button  */

.Documents-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: 45px;
  border: 2px solid rgb(49, 49, 83);
  background-color: transparent;
  padding: 0px 15px;
  border-radius: 5px;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.folderContainer {
  width: 40px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.fileBack {
  z-index: 1;
  width: 80%;
  height: auto;
}
.filePage {
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease-out;
}
.fileFront {
  width: 85%;
  height: auto;
  position: absolute;
  z-index: 3;
  opacity: 0.95;
  transform-origin: bottom;
  transition: all 0.3s ease-out;
}
.text {
  color: black;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 0.5px;
}
.Documents-btn:hover .filePage {
  transform: translateY(-5px);
}
.Documents-btn:hover {
  background-color: rgb(58, 58, 94);
}
.Documents-btn:active {
  transform: scale(0.95);
}
.Documents-btn:hover .fileFront {
  transform: rotateX(30deg);
}
.Documents-btn:hover .text {
  color: white;
}

/* Button End  */

/* Sec One Code */

.sec-one-main-div-one {
  height: 100vh;
  width: auto;
  background-image: url(./assets/images/img_bg_2.jpg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.designer-div {
  width: 500px;
  height: 100vh;
  float: left;
  text-align: left;
  margin: 0 auto;
  padding: 2.5em;
  min-height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.designer-div h1 {
  font-weight: 700;
  font-size: 60px;
  text-align: left;
  font-family: "Playfair Display", Georgia, serif;
  line-height: 1.3;
  letter-spacing: 0.5px;
}

.designer-div p {
  text-align: left;
  font-weight: 500;
  margin-bottom: 30px;
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.text {
  margin-top: 17%;
}

/* x ----------------------------------- x ----------------------------------- x ----------------------------------- x ----------------------------------- x  */

/* Sec one Div two code */

/* Download CV Button  */

.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid rgb(49, 49, 83);
  background-color: transparent;
  overflow: hidden;
  border-radius: 5px;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: rgb(49, 49, 83);
  font-weight: 500;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: rgb(49, 49, 83);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: #fff;
}

.button:hover {
  background: rgb(49, 49, 83);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: rgb(49, 49, 83);
}

.button:active {
  border: 1px solid rgb(49, 49, 83);
}

/* End button  */

.sec-one-main-div-two {
  height: 100vh;
  width: auto;
  background-image: url(./assets/images/img_bg_1.jpg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.cv-div {
  width: 500px;
  height: 100vh;
  text-align: left;
  justify-content: center;
  float: left;
  padding: 2.5em;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.cv-div h1 {
  font-weight: 700;
  font-size: 60px;
  text-align: left;
  font-family: "Playfair Display", Georgia, serif;
  line-height: 1.3;
  letter-spacing: 0.5px;
}

.cv-div p {
  text-align: left;
  font-weight: 500;
  margin-bottom: 30px;
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

/* Animation Code  */

.sec-one {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.slider {
  position: absolute;
  top: 0;
  left: 350px;
  width: calc(100% - 350px);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  animation: fadeSlide 12s infinite ease-in-out;
}

.sec-one-main-div-one {
  animation-delay: 0s;
  z-index: 1;
}

.sec-one-main-div-two {
  animation-delay: 6s;
  z-index: 1;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    z-index: 1;
  }
  5% {
    opacity: 1;
    z-index: 2;
  }
  45% {
    opacity: 1;
    z-index: 2;
  }
  50% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}

/* x ----------------------------------- x ----------------------------------- x ----------------------------------- x ----------------------------------- x  */

/* Section Two  */

.sec-two {
  float: left;
  position: relative;
  left: 350px;
  top: 0;
  width: calc(100% - 350px);
  height: 100%;
  padding-bottom: 9em;
  padding-top: 4em;
}

.sec-two-main-div {
  text-align: left;
  padding: 60px 60px 15px 20px;
}

.sec-two-hed > h2 {
  font-size: 12px;
  font-family: "Quicksand", Arial, sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
}

.sec-two-hed > h1 {
  font-family: "Playfair Display", Georgia, serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4em;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: 1.8;
}

.sec-two-text span {
  font-weight: bolder;
  font-size: 15px;
  text-transform: capitalize;
}

.sec-two-text {
  font-size: 13px;
  font-family: "Quicksand", Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 1.8;
  margin-bottom: 2em;
  font-weight: 600;
}

.sec-two-p1 {
  margin-bottom: 1em;
}

.sec-two-p2 {
  margin-bottom: 15px;
}

/* Sec Two Cards Section  */

.sec-two-cards {
  background-color: #f2f3f7;
}

.service-card {
  border: none;
  border-radius: 0;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  position: relative;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 35px -5px rgba(0, 0, 0, 0.2);
}

.icon-box i {
  font-size: 35px;
  margin-bottom: 20px;
  display: block;
}

.service-card .card-title {
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #000;
}

.sec-two-card-one {
  border-bottom: 5px solid #2c98f0 !important;
}
.sec-two-card-one i {
  color: #2c98f0;
}

.sec-two-card-two {
  border-bottom: 5px solid #ec5453 !important;
}
.sec-two-card-two i {
  color: #ec5453;
}

.sec-two-card-three {
  border-bottom: 5px solid #f9bf3f !important;
}
.sec-two-card-three i {
  color: #f9bf3f;
}

.sec-two-card-four {
  border-bottom: 5px solid #a84cb8 !important;
}
.sec-two-card-four i {
  color: #a84cb8;
}

/* Sec Two Hire Section  */

.sec-two-main-hire-div {
  background-color: #f9bf3f;
  color: #000;
  padding: 30px;
}

.sec-two-hire-div h2 {
  font-size: 25px;
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #000;
}

.sec-two-hire-div p {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.sec-two-hire-btn {
  background-color: #f2f3f7 !important;
  color: #000;
  border: 1px solid #f9bf3f !important;
  padding: 3px 10px;
  font-size: 15px !important;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 100;
  border-radius: 5px;
  margin-top: 0;
  transition: all 0.3s ease-in-out;
}

.sec-two-hire-btn:hover {
  background-color: #f9bf3f !important;
  color: #000;
  border: 1px solid #000 !important;
}

.sec-two-main-hire-div {
  background-color: #f9bf3f;
  color: #000;
}

/* x ----------------------------------- x ----------------------------------- x ----------------------------------- x ----------------------------------- x  */

/* Section Three  */

.sec-three {
  float: left;
  position: relative;
  left: 350px;
  top: 0;
  width: calc(100% - 350px);
  height: 100%;
  padding-bottom: 9em;
  padding-top: 4em;
  overflow: hidden;
  padding-top: 4em;
  padding-bottom: 9em;
}

.sec-three-hed > h2 {
  font-size: 12px;
  font-family: "Quicksand", Arial, sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
  padding-left: 20px;
}

.sec-three-hed > h1 {
  font-family: "Playfair Display", Georgia, serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1em;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: 1.8;
  padding-left: 20px;
}

.sec-three-cards-container {
  border: none !important;
}

.sec-three-cards-container .card-body {
  padding: 0 !important;
}

.sec-three-cards-container h5 {
  margin-bottom: 30px;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 600;
}

.sec-three-cards-container p {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 1px;
  font-family: "Playfair Display", Georgia, serif;
  color: #666;
}

.sec-three-icons {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 35px;
  padding: 20px !important;
  margin-bottom: 10px;
  width: fit-content;
}

.sec-three-icons i {
  position: relative;
  margin: 0 !important;
  top: 0 !important;
}

.icon-box-center {
  margin: 10px !important;
  align-items: center;
  justify-content: center;
  display: flex;
}

.sec-three-icon-one {
  border-radius: 100%;
  border: 3px solid #2c98f0;
  color: #f2f3f7;
  background-color: #2c98f0;
  border-bottom-color: #2c98f0 !important;
  transition: all 0.3s ease-in;
}

.service-card:hover .sec-three-icon-one {
  background-color: transparent;
  color: #2c98f0;
}

.sec-three-icon-two {
  border-radius: 100%;
  border: 3px solid #ec5453;
  color: #f2f3f7;
  background-color: #ec5453;
  transition: all 0.3s ease-in;
}

.service-card:hover .sec-three-icon-two {
  background-color: transparent;
  color: #ec5453;
}

.sec-three-icon-three {
  border-radius: 100%;
  border: 3px solid #f9bf3f;
  color: #f2f3f7;
  background-color: #f9bf3f;
  transition: all 0.3s ease-in;
}

.service-card:hover .sec-three-icon-three {
  background-color: transparent;
  color: #f9bf3f;
}

.sec-three-icon-four {
  border-radius: 100%;
  border: 3px solid #a84cb8;
  color: #f2f3f7;
  background-color: #a84cb8;
  transition: all 0.3s ease-in;
}

.service-card:hover .sec-three-icon-four {
  background-color: transparent;
  color: #a84cb8;
}

.sec-three-icon-five {
  border-radius: 100%;
  border: 3px solid #2fa499;
  color: #f2f3f7;
  background-color: #2fa499;
  transition: all 0.3s ease-in;
}

.service-card:hover .sec-three-icon-five {
  background-color: transparent;
  color: #2fa499;
}

.sec-three-icon-six {
  border-radius: 100%;
  border: 3px solid #4054b2;
  color: #f2f3f7;
  background-color: #4054b2;
  transition: all 0.3s ease-in;
}

.service-card:hover .sec-three-icon-six {
  background-color: transparent;
  color: #4054b2;
}

.sec-three-cards-container .col:nth-child(1) .service-card {
  border: 5px solid transparent;
  border-bottom-color: #2c98f0;
}

.sec-three-cards-container .col:nth-child(2) .service-card {
  border: 5px solid transparent;
  border-bottom-color: #ec5453;
}

.sec-three-cards-container .col:nth-child(3) .service-card {
  border: 5px solid transparent;
  border-bottom-color: #f9bf3f;
}

.sec-three-cards-container .col:nth-child(4) .service-card {
  border: 5px solid transparent;
  border-bottom-color: #a84cb8;
}

.sec-three-cards-container .col:nth-child(5) .service-card {
  border: 5px solid transparent;
  border-bottom-color: #2fa499;
}

.sec-three-cards-container .col:nth-child(6) .service-card {
  border: 5px solid transparent;
  border-bottom-color: #4054b2;
}

/* x ----------------------------------- x ----------------------------------- x ----------------------------------- x ----------------------------------- x  */

/* Section Four */

.sec-four {
  float: left;
  position: relative;
  left: 350px;
  top: 0;
  width: calc(100% - 350px);
  height: 100%;
  padding-bottom: 9em;
  padding-top: 4em;
  overflow: hidden;
  padding-top: 4em;
  padding-bottom: 9em;
}

.sec-four-main-div {
  float: none;
  width: 95%;
  border: 4px solid #333;
  height: 100%;
  padding: 35px;
  border-radius: 5px;
  border: none;
  background-image: url(./assets/images/cover_bg_1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}

.sec-four-cont {
  color: #f2f3f7;
  gap: 15px;
  text-align: left;
}

.sec-four-cont h1 {
  flex-wrap: wrap;
  display: flex;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: bolder;
}

.sec-four-cont h2 {
  font-family: "Playfair Display", Georgia, serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 28px;
  width: 50%;
  line-height: 1.8;
  letter-spacing: 1px;
}

/* x ----------------------------------- x ----------------------------------- x ----------------------------------- x ----------------------------------- x  */

/* Responsive Design  */


@media (max-width: 991px) {
  aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
    background-color: #f2f3f7;
    border-bottom: 1px solid #ddd;
    overflow-y: visible;
    padding: 0;
  }

  .navbar-collapse {
    max-height: 80vh;
    overflow-y: auto;
  }

  .sec-one {
    width: 100% !important;
    left: 0 !important;
    padding-top: 0 !important;
  }

  .slider {
    left: 0 !important;
    width: 100% !important;
    height: 100vh;
  }

  .designer-div,
  .cv-div {
    width: 100% !important;
    height: 100vh;
    padding: 0 20px;
    text-align: center;
    align-items: center;
    padding-top: 80px;
  }

  .designer-div h1,
  .cv-div h1 {
    font-size: 40px !important;
    text-align: center;
  }

  .designer-div p,
  .cv-div p {
    text-align: center;
    font-size: 16px;
  }

  .Documents-btn,
  .button {
    margin: 0 auto;
  }
  .sec-one,
  .sec-two,
  .sec-three,
  .sec-four {
    left: 0 !important;
    width: 100% !important;
    float: none;
    padding-top: 80px;
  }

  .nav-img {
    width: 100px;
    height: 100px;
  }

  .sec-one-main-div-one,
  .sec-one-main-div-two {
    height: auto;
    min-height: 100vh;
  }

  .designer-div,
  .cv-div {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
  }

  .sec-four-main-div {
    width: 100%;
    margin: 0;
  }
}
